<include file="public:_header">


  <div class="about-content">
    <div class="w1000">
      <div class="item contact">
        <div class="title">
          <h4>为天地立心</h4>
          <h4>为生民立命</h4>
          <h4>为往圣继绝学</h4>
          <h4>为万世开太平</h4>
        </div>
      </div>
    </div>
  </div>
  
  

  <include file="public:_footer">
  
  <script type="text/javascript" src="layui/layui.js"></script>
  <script type="text/javascript">
    layui.config({
      base: 'js/util/'
    }).use(['element','laypage','form','layer','menu'],function(){
      element = layui.element,laypage = layui.laypage,form = layui.form,layer = layui.layer,menu = layui.menu;
      menu.init();
    })
  </script>
</body>
</html>